/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017. 4. 20, 오전 11:37:13
    Author     : ijeongsu
*/
#root{
    -fx-padding: 10;

}

#welcome-text{
    -fx-font-size: 35;
    -fx-font-family: "Arial Black"; 
    -fx-font-weigh: bold;
    -fx-text-fill: linear-gradient(to bottom, blue, white);
    
}