/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017. 4. 20, 오전 11:24:42
    Author     : ijeongsu
*/
.txtInput:focused{
    -fx-border-color: skyblue;
    -fx-background-color: yellow; 
}

#btn1:hover{
    -fx-border-color: skyblue;
    -fx-background-color: yellow; 
}
#btn1:pressed{
    -fx-border-color: skyblue;
    -fx-background-color: red; 
}
